.account-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.account-modal-child {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 450px;
  height: 600px;
  z-index: 11;
  box-shadow: 1px 1px 1px 1px lightgray;
}

.auth-form {
  width: 80%;
  margin: 0 auto;
}

.account-modal-child h2 {
  font-weight: 400;
  font-family: 'Gordita', Helvetica, Arial, Verdana;
  font-size: 24px;
  line-height: 28px;
  padding: 20px 55px;
  border-bottom: 1px solid lightgray;
  padding: 20px 55px;
}

.account-modal-child button {
  width: 100%;
  height: 42px;
  font-weight: 500;
  line-height: 46px;
  font-size: 16px;
  font-family: Helvetica, Arial, Verdana;
  text-align: center;
  background-color: black;
  color: white;
  padding: 0 30px;
}

.errors-container {
  color: red;
  list-style-type: none;
}

