.header-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: 70px;
}

.header-nav-bar > .logo {
  width: 150px;
  height: 40px;
  padding-left: 15px;
}

.header-nav-bar:hover {
  background-color: white;
  button {
    color: black;
  }
}

.login-signup button {
  border: none;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 15px;
  font-size: 16px;
  font-weight: 900;
  font-family: 'stratos', Helvetica, arial, verdana;
  background-color: transparent;
  color: white;
}

.login-signup {
  display: flex;
}

.login-signup button:hover {
  border-bottom: 3px solid purple;
}