.header-nav-bar {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 70px;
  z-index: 8;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: center;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

.header-nav-bar:hover {
  background-color: white;
  border-bottom: 1px solid lightgray;
  
}

.login-signup div button {
  border: none;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 15px;
  font-size: 16px;
  font-weight: 900;
  font-family: "stratos", Helvetica, arial, verdana;
  background-color: transparent;
  color: black;
}

.login-signup {
  display: flex;
}

.login-signup button:focus {
  outline: none;
}

.login-signup button:hover {
  text-decoration: underline;
  text-decoration-color: purple;
  transition-property: text-decoration;
}

.navbar-dropdown-btn {
  color: white;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
  margin-right: 30px;
  background-color: purple;
}

.navbar-dropdown-btn:hover {
  color: white;
}

.navbar-dropdown {
  position: relative;
  display: inline-block;
  .navbar-dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid lightgray;
    z-index: 1;
    background-color: white;
  }
}

.navbar-dropdown a {
  color: lightgray;
  padding-bottom: 30px;
  display: block;
  padding-top: 10px;
  padding-left: 10px;
}

.navbar-dropdown:hover .navbar-dropdown-content {
  display: block;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  right: 0;
  padding-right: 100px;
}

.navbar-right {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.navbar-left {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 400px;
  .home-btn {
    padding-left: 0;
  }
}

.navbar-left button {
  border: none;
  font-weight: 800;
  font-size: 16px;
  line-height: 21px;

}

.searchbar-btn {
  border: none;
  background-color: transparent;
}
.searchbar-icon {
  height: 20px;
  width: 20px;
}

.view-dropdown-content, .hobbies-dropdown-content {
  display: none;
  position: relative;
  padding-top: 70px;
  z-index: 5;
  background-color: white;
  color: black;
}

.view-dropdown-btn, .hobbies-dropdown-btn {
  position: absolute;
}

.view-dropdown:hover {
  .view-dropdown-content {
    display: block;
  }
}

.hobbies-dropdown:hover {
  .hobbies-dropdown-content {
    display: block;
  }
}

.dropdown-list-items:hover {
  text-decoration: underline;
  text-decoration-color: purple;
  transition-property: all;
}