.splash-page {
  width: 77%;
  display: flex;
  flex-direction: row-reverse;
  position: relative;

  .welcome-content {
    position: absolute;
    top: 150px;
    left: 5%;
    display: block;
    background-color: white;
    width: 355px;
    padding: 55px;
    z-index: 2;

    h1 {
      font-size: 36px;
      font-family: 'stratos', Helvetica, Arial, Verdana;
      font-weight: 900;
      line-height: 41px;
      text-transform: uppercase;
    }

    p {
      font-size: 16px;
      font-weight: 700;
      font-family: 'gordita', Helvetica, Arial, Verdana;
      line-height: 22px;
      padding-top: 35px;
    }
  }

  .splash-img-container {
    width: 100%;
    height: 600px;
    background-image: url('home_keyboard.jpg');
    background-size: cover;

    .splash-img {
      object-fit: contain;
      margin: 0;
      height: 600px;
      width: 1140px;
    }
  }
}



